In [3]:
l=[1,2,3]
print(l)

[1, 2, 3]

In [ ]:
# panda data frame .what is the need of data structure called data frame
# structured data csv,xlxv(excel) we can represent the data tabular column and rows we want to load this into python
# we can store in list which makes messy  for working alternatatively we can work with numbpy,pandas 
# drawbacks no column names ,comibing two data sets (merging)

In [2]:
# how to create pandas data frame
import numpy as np
import pandas as pd

In [17]:
# example of array creation
l=[1,2]
h=np.array(l)
df=pd.DataFrame(h)
df

   0
0  1
1  2

In [18]:
np.random.seed(100)
arr=np.random.randint(0,100,(5,3))
arr

array([[ 8, 24, 67],
       [87, 79, 48],
       [10, 94, 52],
       [98, 53, 66],
       [98, 14, 34]])

In [12]:
df=pd.DataFrame(arr)
df
# defalut column names

    0   1   2
0  24  15  60
1  58  16   9
2  93  86   2
3  27   4  31
4   1  13  83

In [16]:
type(df)

pandas.core.frame.DataFrame

In [29]:
arr=np.random.randint(0,100,(5,3))

row=['mon','tue','wed','thrus','frid']
columnames=['jan','feb','march']
df=pd.DataFrame(arr,index=row,columns=columnames)

df

       jan  feb  march
mon     90   34     67
tue     94   78     54
wed     77   84      1
thrus   14   33     20
frid    40   24     93